@font-face {
    font-family: 'Exocet Hard';
    src: url(./fonts/films.EXH_____.ttf);
}

@font-face {
    font-family: 'Exocet Light';
    src: url(./fonts/films.EXL_____.ttf);
}


* {
    outline: 1px solid red;
}


html {
font-family: 'Exocet Light';
}

body {
    margin: auto;
    background-color: white;
}

#contenedor {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: grey;
    color: rgb(210, 210, 210);
}

header, aside h3 {
    background-color: black;
    color: rgb(218, 172, 100);
}


#titulo {
    width: auto;
    margin-bottom: 10px;
}

header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:'Exocet Hard';
    font-size: 80px;
    text-align: center;
}

.borde {
    border: 2px solid rgb(218, 172, 100);
    border-radius: 2px;
}


nav {
margin-bottom: 10px;
}

li {
    display: flex;
    flex-direction: row;
    list-style: none;
}

section {
    margin-top: 0px;
    margin-bottom: 10px;
}

section h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

section p {
    margin-top: 0px;
    margin-bottom: 10px;
}

/*
section footer {
    margin-top: 0px;
    margin-bottom: 0px;
}
*/

#barraLateral {
    margin-top: 0px;
    margin-bottom: 10px;
}

aside h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.imgLista {
    margin: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#menuInferior {
    float: right;
}

nav a, section a, aside a, footer a {
    transition: color;
    color: rgb(210, 210, 210);
    text-decoration: none;
}

/*
a:link {
    text-decoration: none;
    color: rgb(210, 210, 210);
}

a:visited {
     color: rgb(210, 210, 210);
 }
*/

a:hover {
    color: rgb(218, 172, 100);
    text-decoration: underline; 
}

